.HomePage {
    background-color: #f9f9f9;
    position: relative;
    margin: 0;
}

.Header1 {
    font-size: large;
    background-color: white;
}

.MainWrapper {
    margin-top: 65px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 960px;
}

.News {
    color: black;
    margin: auto;
    
}

.P_SWrapper {
    margin-top: 54px;
    max-width: 960px;
    height: 200px;
    position: relative;
}


.PortfolioButton {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 46%;
    background-color: white;
}

.SuggestButton {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 46%;
    background-color: white;
}

.Contest {
    margin-top: 90px;
    margin-bottom: 100px;
    background-color: white;
    text-align: left;
}

.FooterWrapper {
    margin-top: 90px;
    width: 100%;
    bottom: 0;
}

.Footer {
    color: black;
    text-align: center;

}