.HomePage{
    background-color: #f9f9f9;
    position: relative;
}

.Header1{
    color: red;
    font-size: large;
}

.MainWrapper{
    margin-top: 65px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 960px;
}

.News{
    color: black;
    margin: auto;
    width: 100%;
}

.P_SWrapper{
    margin-top: 55px;
    max-width: 960px;
    height: 200px;
    position: relative;
}


.PortfolioButton{
    position: absolute;
    left: 0;
    display: inline-block;
    width: 45%;
}

.SuggestButton{
    position: absolute;
    right: 0;
    display: inline-block;
    width: 45%;
}

.Contest{
    
    Padding-bottom: 100px;
}

.FooterWrapper{
   
    position: absolute;
    width: 100%;
    bottom: 0;
}

.Footer{
    color: black;
    text-align: center;
    
}







