.HomePage {
    background-color: #f9f9f9;
    position: relative;
    margin: 0;
}

.HomePage a{
    color:inherit
}

.HomePage .Header1 {
    font-size: large;
    background-color: white;
}

.HomePage .MainWrapper {
    margin-top: 65px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 960px;
}

.HomePage .News {
    color: black;
    margin: auto;
    
}

.HomePage .P_SWrapper {
    margin-top: 54px;
    max-width: 960px;
    height: 200px;
    position: relative;
}


.HomePage .PortfolioButton {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 46%;
    background-color: white;
}

.HomePage .SuggestButton {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 46%;
    background-color: white;
}

.HomePage .Contest {
    margin-top: 90px;
    margin-bottom: 100px;
    background-color: white;
    text-align: left;
}

.HomePage .FooterWrapper {
    margin-top: 90px;
    width: 100%;
    bottom: 0;
    min-height: 1vh;
    padding-bottom: 16px;
}

.HomePage .Footer {
    color: black;
    text-align: center;

}