.NewCarrerPage {
    background-color: #f9f9f9;
    position: relative;
    margin: 0;
}

.NewCarrerPage a{
    color:inherit
}

.NewCarrerPage .Header1 {
    font-size: large;
    background-color: white;
}

.NewCarrerPage .Header2Wrapper{
    margin-top: 50px;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

.NewCarrerPage .Header2Wrapper .Header2{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.NewCarrerPage .MainWrapper {
    margin-top: 65px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}

.NewCarrerPage .Button{
    margin-top: 54px;
    text-align: center;
    color: white;
    width: 100%;
    height: 40px;
    
}

.NewCarrerPage .FooterWrapper {
    margin-top: 90px;
    width: 100%;
    bottom: 0;
}

.NewCarrerPage .Footer {
    color: black;
    text-align: center;

}