.SigninPage {
    background-color: #f9f9f9;
    position: relative;
    margin: 0;
}

.SigninPage .Header1 {
    font-size: large;
    background-color: white;
}

.SigninPage .MainWrapper {
    margin-top: 65px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 960px;
    height: 100%;
}

.SigninPage .AccountCardWrapper {
    margin-top: 54px;
    max-width: 960px;
    height: 716px;
    position: relative;
}

.SigninPage .AccountCard_L {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 50%;
    background-color: white;
}

.SigninPage .AccountCard_R {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 50%;
}

.SigninPage .FooterWrapper {
    margin-top: auto;
    width: 100%;
    bottom: 0;
    
}

.SigninPage .Footer {
    color: black;
    text-align: center;
}