.AccountCard_R{
    -webkit-box-shadow: 0 0 4px #c7c7c7;
	box-shadow: 0 0 4px #c7c7c7;
	border: 1px solid #c7c7c7;
    height: 550px;
    background-color: #7233B4;
    color: white;
}

.AccountCard_R .Title{
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-top: 34px;
    padding-bottom: 15px;
    line-height: 26px;
}

.AccountCard_R p{
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 12px;
    padding-top: 0;
    margin-top: 15px;
    line-height: 16px;
}

.AccountCard_R .ContentsWrapper{
    margin-top: 66px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.AccountCard_R .ContentsWrapper .ContentsTitle p{
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    line-height: 40px;
}

.AccountCard_R .ContentsWrapper .ContentsDescription p{
    margin-top: 100px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    overflow-wrap: break-word;
    line-height: 25px;
}