.Header1{

    position: relative;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid;
    border-image-slice:45%;
    border-image-source: radial-gradient(#c0c0c0,#FFF);
    border-image-width:0 0 3px;
   
}



.Header1 .Icon {
    display: inline-block;
    height: 35px;
    width: 35px;
    left: 13px;
    top: 11px;
    position: absolute;
}

.Header1 .Logo{
    display: inline-block;
    height: 47px;
    width:197px;
    left: 55px;
    top: 4px;
    position: absolute;
}
