.TextInput .textbox{
    border: solid 1px #c7c7c7;
    padding: 12px;
    display: inline-block;
    width: 100%;
}

.TextInput .textbox:focus {
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(114, 51, 180, 0.7) !important; 
  }

.TextInput .textbox::placeholder{
    font-size: 16px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;    ;
    opacity: 30%;
}