.App{
    background-color: #F9F9F9;
}

header{

    width: 100%;
    height: 94px;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid;
    border-image-slice:45%;
    border-image-source: radial-gradient(#c0c0c0,#FFF);
    border-image-width:0 0 3px;
   
}

main{
    text-align: center;
    height: 760px;
}

.Signup_Step_Wrapper{
    
    width: 480px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    background-color: aqua;

}

.Profile_Input_Wrapper{

    width: 960px;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 135px;

    background-color: lightcoral;

}

.Button_Nextstep_Wrapper{
    text-align: center;
    width: 960px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
}

.Button_Nextstep{

    color: white;
    background-color: black;
    width: 960px;
    height: 40px;
}

footer{
    
    text-align: center;
    
}